<!DOCTYPE html>
  <html>
    <head>
      <title>Knowledge Share</title>

      <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 60%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        </style>

    <head>

    <body>
      <h2>Welcome to the Knowledge Share site!</h2>

      <p>Here is the schedule for Knowledge Share sessions:</p>
      <table>
        <tr>
          <th>Presenter</th>
          <th>Topic</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>Craig Houston</td>
          <td>Deploying to Heroku</td>
          <td>2017-11-20</td>
        </tr>
        <tr>
          <td>John Smith</td>
          <td>How to write awesome code</td>
          <td>2017-11-20</td>
        </tr>
        <tr>
          <td>Joe Bloggs</td>
          <td>Unit testing is fun!</td>
          <td>2017-11-27</td>
        </tr>
      </table>

    </body>
  </html>
